$light-blue: #0acdff;
$blue: #5465ff;
$black: #162521;
$red: #db5461;
$yellow: #fffd98;
$green: #3ec300;
$dark-green: #73ab84;
$moist-green: #00cc99;
$brown-orange: #d8bd8a;
$gray: #b9baa3;

$dark: $black;
$primary: $blue;
$secondary: $gray;
$success: $green;
$warning: $yellow;
$danger: $red;
$info: $light-blue;



