version: '3'

services:
  server-one:
    container_name: server-one
    image: avidian/jeepunii
    build: .
    volumes:
      - .:/app
    ports:
      - 8000:8000
    restart: unless-stopped
    depends_on:
      - database
      - queue
    networks:
      - net
    environment:
      PORT: 8000
      ENV: local
      KEY: abc
      DB_CONNECTION: postgres
      DB_HOST: jeepunii-db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: secret
      DB_NAME: jeepunii
      REDIS_HOST: jeepunii-queue
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      LOCATION_IQ_TOKEN: pk.3d277e20a9f72b0f3da1f69aa0aa313d
      SOCKET_DRIVER: redis
      STORAGE_ENGINE: local
  server-two:
    container_name: server-two
    image: avidian/jeepunii
    build: .
    volumes:
      - .:/app
    ports:
      - 8001:8001
    restart: unless-stopped
    depends_on:
      - database
      - queue
    networks:
      - net
    environment:
      PORT: 8001
      ENV: local
      KEY: abc
      DB_CONNECTION: postgres
      DB_HOST: jeepunii-db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: secret
      DB_NAME: jeepunii
      REDIS_HOST: jeepunii-queue
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      LOCATION_IQ_TOKEN: pk.3d277e20a9f72b0f3da1f69aa0aa313d
      SOCKET_DRIVER: redis
      STORAGE_ENGINE: local
  server-three:
    container_name: server-three
    image: avidian/jeepunii
    build: .
    volumes:
      - .:/app
    ports:
      - 8002:8002
    restart: unless-stopped
    depends_on:
      - database
      - queue
    networks:
      - net
    environment:
      PORT: 8002
      ENV: local
      KEY: abc
      DB_CONNECTION: postgres
      DB_HOST: jeepunii-db
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: secret
      DB_NAME: jeepunii
      REDIS_HOST: jeepunii-queue
      REDIS_PASSWORD: null
      REDIS_PORT: 6379
      LOCATION_IQ_TOKEN: pk.3d277e20a9f72b0f3da1f69aa0aa313d
      SOCKET_DRIVER: redis
      STORAGE_ENGINE: local
  database:
    container_name: jeepunii-db
    image: postgres:11.4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: jeepunii
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - 2158:5432
    networks:
      - net
  queue:
    image: redis:6.0
    container_name: jeepunii-queue
    restart: unless-stopped
    ports:
      - 8725:6379
    networks:
      - net
networks:
  net:
    internal: false
